<mat-toolbar>
  <span>
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>reorder</mat-icon>
    </button>
  </span>
  <span>Computer Repair System</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-list>
      <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4>Request</h4>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
