<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>
    <button mat-icon mat-button (click)="sidenav.toggle()">
      <mat-icon>reorder</mat-icon>
    </button>
  </span>
  <span>Computer Repair System</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" class="sidebar" hasBackdrop>
    <mat-list>
      <mat-list-item routerLink="request">
        <mat-icon mat-list-icon>assignment</mat-icon>
        <h4>Request</h4>
      </mat-list-item>
      <mat-list-item routerLink="/login">
        <mat-icon mat-list-icon>clear</mat-icon>
        <h4>Logout</h4>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>